html {
    background-color: #0064d3;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    height: auto;
    background-size: cover;
}

body{
  position: relative;
}

nav {
  box-shadow: 1px 1px 5px black;
}

.button{
  text-align: center;
  transform: scale(1.4);
}

.button-header{
  text-align: center;
}

.header{
  color: #e53238;
  font-size: 70px;
}

.icon-bar {
  background-color: black;
}

.left-side{
  text-align: right;
}

.navbar-container{
  margin-left: 5%;
  margin-right: 5%;
}

.row{
  color: #88b719;
  font-size: 20px;
}