html {
  background-color: #007BA7;
  font-family: 'Merriweather', serif;
  width: auto;
  height: auto;
  background-size: cover;
}

body{
  position: relative;
}

.construction {
  font-size: 45px;
  background-color: grey;
}

.header {
  padding-left: 5%;
  font-weight: bold;
  font-size: 20px;
}

.icon-bar {
  background-color: black;
}

.navbar {
  position: absolute;
  margin-bottom: 0px !important;
}

.navigation {
  margin-left: 20%;
  margin-right: 20%;
}

.small-bois {
  font-size: 25px;
}