html {
  background-color: #007BA7;
  font-family: 'Times New Roman', serif;
  margin-left: 15%;
  margin-right: 15%;
  width: auto;
  height: auto;
  background-size: cover;
}

body {
  position: relative;
}

li {
  margin-top: 0 !important;
  margin-left: 5px !important;
  margin-right: 5px;
}

nav {
  box-shadow: 1px 1px 5px black; 
}

h2#sass-one span#sass-one-a,
h2#sass-two span#sass-two-a,
h3#sass-three span#sass-three-a,
h4#sass-four span#sass-four-a {
  display: inline;
}

h2#sass-one:hover span#sass-one-a,
h2#sass-two:hover span#sass-two-a,
h3#sass-three:hover span#sass-three-a,
h4#sass-four:hover span#sass-four-a {
  display: none;
}

h2#sass-one span#sass-one-b, 
h2#sass-two span#sass-two-b,
h3#sass-three span#sass-three-b,
h4#sass-four span#sass-four-b {
  display: none;
}

h2#sass-one:hover span#sass-one-b, 
h2#sass-two:hover span#sass-two-b,
h3#sass-three:hover span#sass-three-b,
h4#sass-four:hover span#sass-four-b {
  display: inline;
}

.ebay-image {
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  border-radius: 2%;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  
  max-width: 80%;
  max-height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.header {
  padding-left: 5%;
  font-weight: bold;
  font-size: 20px;
}

.icon-bar {
  background-color: black;
}

.job-title {
  padding-left: 5%;
  font-weight: bold;
  font-size: 15px;
  font-family: Merriweather;
}

.job-date {
  padding-left: 6%;
  font-style: italic;
  font-size: 15px;
  font-family: Merriweather;
}

.me-in-suit {
  border-style: solid;
  border-width: 3px;
  border-color: #333;
  border-radius: 50%;
  
  display: block;
  margin: auto;
  
  max-width: 40%;
  max-height: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.name {
  font-size: 75px;
  font-family: Merriweather;
}

.navbar {
  margin-bottom: 0 !important;
}

.section-first {
  background-color: #eee;
  padding-top: 5%;
  padding-bottom: 1%;
  display: block;
  margin: auto;
  text-align: center;
}

.section-two {
  background-color: #bbb;
  padding-bottom: 2%;
  display: block;
  margin: auto;
}

.section-three {
  background-color: #eee;
  padding-top: 1%;
  padding-bottom: 2%;
  display: block;
  margin: auto;
  text-align: center;
}

.section-four {
  background-color: #bbb;
  padding-bottom: 2%;
  display: block;
  margin: auto;
  text-align: center;
}

.section-last {
  background-color: #eee;
  padding-top: 1%;
  display: block;
  margin: auto;
  text-align: center;
}

.skills-list {
  margin-left: 10%;
  font-family: Merriweather;
}

.title {
  font-size: 15px;
  font-weight: bold;
  font-family: Merriweather;
}