html, body {
  background-color: #86B858;
  height: 100%;
  margin: 0;

  font-size: 1.4vw;
  line-height: 1.4vw;
  font-family: 'Aldrich', sans-serif;

  overflow: hidden;
}

li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	color: grey;
}

li a.active {
	color: grey;
}

nav ul {
  max-width: 64%;

	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	
	list-style-type: none;
  padding-inline-start: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#site-container {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header-nav {
	margin: 0;
	z-index: 100;
	background-image: linear-gradient(
		rgb(3, 3, 3) 0%,
		rgb(131, 16, 0) 1%, 
		rgb(236, 202, 104) 30%, 
		rgb(236, 202, 104) 70%, 
		rgb(131, 16, 0) 99%,
		rgb(3, 3, 3) 100%
	)
}

#introduction {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  margin-top: 15%;
  color: white;
}

#introduction :nth-child(1), #introduction :nth-child(2) {
  margin: 20px auto;
}

#under-construction {
  position: absolute;
  top: 7%;
  left: 1%;
  color: white;
}

#game-container {
  display: inline-block;
  position: relative;
  top: -20px;
  left: -250px;
}

#game-container img {
  position: absolute;
  top: 0;
  left: 0;
}

#escape {
  top: 2% !important;
  opacity: 0;
}

#page-container img {
  position: absolute;
}

#forest-bottom {
  top: unset !important;
  left: 0;
  margin-top: 828px;
}

#left-lonely-tree {
  top: 600px !important;
  left: 116px !important;
}

#right-lonely-tree {
  top: 691px !important;
  left: 2250px !important;
}

#blue-house {
  height: 480px;
  top: 153px !important;
  left: 242px !important;
}

#blue-house p {
  top: 45%;
}

#green-house {
  height: 472px;
  top: 171px !important;
  left: 1702px !important;
}

#green-house p {
  top: 45%;
}

#red-house {
  height: 663px;
  top: -221px !important;
  left: 890px !important;
}

#red-house p {
  top: 60%;
}

#player {
  position: absolute;
  pointer-events: none;

  height: 192px;
  width: 96px;
  top: 600px;
  left: 900px;

  z-index: 2;
  background: url(../images/DP3.png) 0px 0px;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, .5);
}

#overlay img {
  position: absolute;
  bottom: 3%;
  left: 2%;
}

#open-menu {
  position: absolute;
  padding: 20px;
  top: 1%;
  left: 1%;
  z-index: 5;
}

.behind-player {
  z-index: 1;
}

.fa-twitter {
	color: white;
	vertical-align: middle;
}

.door {
  opacity: 0;
  top: unset !important;
  left: unset !important;
  bottom: 0;
  z-index: 2;
}

.door:hover {
  opacity: 1;
  cursor: pointer;
}

.house {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 616px;
}

.house a {
  width: 96px;
  height: 168px;
}

.house-text {
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 1.6vw;
  line-height: 1.6vw;
}

.in-front-of-player {
  z-index: 3;
}

.nav-button {
	padding: 1%;
}