html, body {
  background-color: #86B858;
  height: 100%;
  margin: 0;
}

#background-container {
  display: inline-block;
  position: relative;
}

#background-container img {
  position: absolute;
  top: 0;
  left: 0;
}

#page-container img {
  position: absolute;
}

#forest-bottom {
  top: unset !important;
  left: 0;
  margin-top: 828px;
}

#left-lonely-tree {
  top: 600px !important;
  left: 116px !important;
}

#right-lonely-tree {
  top: 600px !important;
  left: 416px !important;
}

#blue-house {
  top: 134px !important;
  left: 247px !important;
}

#red-house {
  top: -221px !important;
  left: 890px !important;
}

#green-house {
  top: 171px !important;
  left: 1702px !important;
}

.behind-player {
  z-index: 1;
}

.in-front-of-player {
  z-index: 3;
}